<h1>Edit Goal</h1>
<form action = "<%=goal_url(@goal)%>" method = "post">
  <input type = "hidden" name = "_method" value = "patch">
  <input type = "hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
  <label>Title<input type = "text" name = "goal[title]" value = "<%=@goal.title%>"></label>
  <label>Body<input type = "text" name = "goal[body]" value = "<%=@goal.body%>"></label>
  <input type = "submit" value = "Edit Goal">
</form>
